.Form_background {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.Form_login-form, .Form_reg-form {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 150px;
  padding: 15px 20px;
  justify-content: space-around;
}

.Form_reg-form {
  height: 250px;
}

.Form_input-default {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  outline: none;
}

.Form_button-form {
  display: flex;
  justify-content: space-between;
}

.Form_button-login {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.Form_button-login:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.Form_button-register {
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 10px 7px 10px 20px;
}

.Form_button-register:hover {
  text-decoration: underline;
}

.Form_error-message {
  color: red;
  
}